<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Doppleganger: Find Your Hometown Services Anywhere</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
        #todo-form              { margin-bottom:50px; }
        .jumbotron              { background: none; }
        button                  {width: 300px; margin: 15px;}
        .rows                   { width: 33%; display: inline-block; }
        input                   { margin: 10px }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

    <script src="js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="js/services/todos.js"></script> <!-- load our todo service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="getYelpResults">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <img src="../images/Logo_sm.png" alt="doppleganger logo"/>
        </div>
        <div class="text-center col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary btn-lg" ng-click="showKeywords()">Find Your Place Some Place Else</button>
            <button class="btn btn-primary btn-lg" ng-click="showPlaces()">I'm Here, Now What?</button>
        </div>
        <div id="keyword-based-form" class="row" ng-hide="places==false">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Place You like" ng-model="placeyoulike" >
                        <input type="text" class="form-control input-lg text-center" placeholder="City of place you like" ng-model="city" >
                        <input type="text" class="form-control input-lg text-center" placeholder="Find the doppleganger in another city" ng-model="destination" >
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="runBusinessSearch(placeyoulike,city, destination)">Search</button>
                </form>
            </div>
        </div>
        <br><br>
        <div ng-repeat="item in placesyoulike_results" class="rows" ng-hide="places==false">
            <a href="{{item.url}}" target="_blank">{{item.name}}</a>
            <br>{{item.location.address[0]}}
            <br>{{item.location.city}}
            <br>
            <br>
        </div>
    
         <div id="keyword-based-form" class="row" ng-hide="keywords==false"  >
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="What Are you looking for?" ng-model="searchterms" >
                        <input type="text" class="form-control input-lg text-center" placeholder="Where are you?" ng-model="location" >
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="runSearch(searchterms,location)">Search</button>
                </form>
            </div>
        </div>
        <br><br>
         <div ng-repeat="item in keyword_results" class="rows" ng-hide="keywords==false" >
            <a href="{{item.url}}" target="_blank">{{item.name}}</a>
            <br>{{item.location.address[0]}}
            <br>{{item.location.city}}
            <br>
            <br>
        </div>



        <div class="text-center text-muted">
            <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
            <p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
            <p> <a href="logout">Logout</a></p>
        </div>

    </div>

</body>
</html>
