<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Doppleganger: Find Your Hometown Services Anywhere</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        html {
          overflow-y:scroll; 
        }
        body {
          padding-top:50px;
        }
        #todo-list { 
          margin-bottom:30px;
        }
        #todo-form {
          margin-bottom:50px; 
        }
        .jumbotron {
          background: none;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .btn,.btn.off { 
          width: 250px; 
          margin: 10px; 
          background-color: 
          white; 
          color: #428bca;
          margin-bottom: 0;
        }
        .btn.on {
            background-color: #428bca; 
            color: white;
        }
        .rows { 
          margin: auto;
          display: block;
          margin-top: 15px;
        }
        .place {
          text-align: left;
          display: inline-block;
          padding-bottom: 0;
          width: 20%;
          box-sizing: border-box;
          margin: auto;
          margin-right: 5px;
          margin-left: 5px;
        }
        .place .place-block {
          margin: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
          display: block;
          border-right: 1px dotted #428bca;
          display: inline;
        }
        .col-sm-8{
          float: none;
        }
        .form-control {
            width: 96%;
        }
        input {
          margin: 10px; 
        }
        .number {
            font-size: 3rem;
            display: inline;
            color: #428bca;
        }
        footer {
            border-top: 1px solid #428bca;
        }
        footer p {
          text-align: center;
          margin: 10px;

        }

        @media screen and   (min-width:1601px)   {
            .rows {
                width: 1600px;
            }
            .place { 
              width: 320px;
             }
             .input-lg {
                width: 75%;
                margin-left: 12.5%;
             }
        }

        @media screen and  (max-width: 1280px) and (min-width:1025px) {
            .rows {
                width: 1024px;
            }
            .place {
                width: 204px;
            }
            .btn, .btn.on, .btn.off {
              width: 40%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.75rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
        }

        @media screen and  (max-width: 1024px) and (min-width:768px) {
             .rows {
                width: 768px;
             }
             .place {
                width: 192px;
            }
             .btn, .btn.on, .btn.off {
              width: 48.5%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.75rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
        }

        @media screen and  (max-width: 767px) and (min-width:640px) {
             .rows {
                width: 640px;
             }
             .place {
                width: 213px
            }  
             .btn, .btn.on, .btn.off {
              width: 48.5%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 2rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
            .jumbotron img {
              width: 200px;
              height: 91px;
            }
        }

        @media screen and  (max-width: 639px ) and (min-width: 480px) {
             .rows {
                width: 480px;
             }
             .place {
                width: 230px;
            }
            .btn, .btn.on, .btn.off {
              width: 48.5%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.5rem ;
              padding: 10px;
              margin: 1%;
              margin-right: 0;              
            }
            .jumbotron img {
              width: 150px;
              height: 68px;
            }


        }

        @media screen and  (max-width: 479px )  {
             .rows {
                width: 240px;
             }
             .place {
                width: 220px;
            }
            .input-lg {
                font-size: 1.5rem;
                height: 40px;
            }
            .btn, .btn.on, .btn.off {
              width: 48%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.25rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
            .jumbotron img {
              width: 100px;
              height: 45px;
            }

        
        }

    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

    <script src="js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="js/services/todos.js"></script> <!-- load our todo service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="getYelpResults">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <img src="../images/Logo_sm.png" alt="doppleganger logo"/>
        </div>
        <div class="text-center col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary btn-lg {{keywordsButtonState}}" ng-click="showKeywords()">Find Your Doppleganger</button>
            <button class="btn btn-primary btn-lg {{placesButtonState}}" ng-click="showPlaces()">I'm Here, Now What?</button>
        </div>
        <div id="keyword-based-form" class="row" ng-hide="places==false">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Place You like" ng-model="placeyoulike" >
                        <input type="text" class="form-control input-lg text-center" placeholder="City of place you like" ng-model="city" >
                        <input type="text" class="form-control input-lg text-center" placeholder="Find the doppleganger in another city" ng-model="destination" >
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="runBusinessSearch(placeyoulike,city, destination)">Search</button>
                </form>
            </div>
        </div>
        <div class="rows">
            <div ng-repeat="item in placesyoulike_results" class="place" ng-hide="places==false">
                <div class="number">{{$index+1}}</div>
                <div class="place-block">
                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                    <br>{{item.location.address[0]}}
                    <br>{{item.location.city}}
                </div>
            </div>
        </div>
         <div id="keyword-based-form" class="row" ng-hide="keywords==false" >
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="What Are you looking for?" ng-model="searchterms" >
                        <input type="text" class="form-control input-lg text-center" placeholder="Where are you?" ng-model="location" >
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="runSearch(searchterms,location)">Search</button>
                </form>
            </div>
        </div>
        <div class="rows">
             <div ng-repeat="item in keyword_results" class="place" ng-hide="keywords==false" >
                <div class="number">{{$index+1}}</div>
                <div class="place-block">
                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                    <br>{{item.location.address[0]}}
                    <br>{{item.location.city}}
                </div>
            </div>
            
        </div>    

        <footer>
            <p>From <a href="http://cityblinking.com">Big City Blinking</a></p>
            <p><a href="http://twitter.com/robostheimer">@robostheimer</a></p>
        </footer>
    </div>

</body>
</html>
