<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Doppleganger">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Doppleganger: Find Your Hometown Services Anywhere</title>


    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,400italic,500italic,600,600italic,700,700italic|Cabin:400,400italic,500,500italic,600,600italic,700,700italic|Oxygen:400,300,700|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/doppleganger.css">
    <link rel="stylesheet" href="css/fonts.css">
    
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    

    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script><!-- load angular -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>

    <script src="js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="js/services/todos.js"></script> <!-- load our todo service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="getYelpResults">
    <div class="container">

        <header>

        <div class="jumbotron text-center">
            <div class="icon-Logo logo"></div>
            
        </div>
        <div class="tabs">
            <button class="btn btn-primary btn-lg {{keywordsButtonState}}" ng-click="showKeywords()">Find Your Doppleganger</button><button class="btn btn-primary btn-lg {{placesButtonState}}" ng-click="showPlaces()" >I'm Here, Now What?</button>
            
        </div>
        
        <div class="filters">
                <button ng-repeat="item in viewIcons" class="{{item.name}} {{item.state}} {{item.status}} big-icon" ng-click="changeView(item.name)"></button>
                <!-- <button ng-repeat="item in filterIcons" class="{{item.name}} {{item.state}} big-icon" ng-click="runFilters(item.name)"></button> -->

        </div>
        
        <div id="list-of-places">
        <div class="cssload-container" ng-show="loading == true">
                <div class="cssload-whirlpool"></div>
        </div>
        <div id="place-based-form" class="row" ng-hide="places==false" >
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Place You like" ng-model="placeyoulike" ng-change="runBusinessSearch(placeyoulike,city, whereyouare)" ng-model-options="{debounce:500}">
                        <input type="text" class="form-control input-lg text-center" placeholder="City of place you like" ng-model="city" ng-model-options="{debounce:500}" ng-change="runBusinessSearch(placeyoulike,city, whereyouare)" ng-model="city" ng-hide="addTypeahead==true">
                        <input type="text" class="form-control input-lg text-center" placeholder="City of place you like" ng-model="city" ng-hide="addTypeahead==false" ng-change="runBusinessSearch(placeyoulike,city, whereyouare)" ng-model-options="{debounce:500}">
                        <input type="text" class="form-control input-lg text-center" placeholder="Find the doppleganger in another city" ng-model="whereyouare" ng-change="runBusinessSearch(placeyoulike,city, whereyouare);" ng-model-options="{debounce:500}" >
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="runBusinessSearch(placeyoulike,city, destination)">Search</button> -->
                </form>
            </div>
        </div>
       
         <div id="keyword-based-form" class="row" ng-hide="keywords==false" >
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="What Are you looking for?" ng-model="searchterms" ng-model-options="{debounce:500}" ng-change="runSearch(searchterms,whereyouare)" ng-hide="addTypeahead==true">
                        <input type="text" class="form-control input-lg text-center" placeholder="What Are you looking for?" ng-model="searchterms" ng-hide="addTypeahead==false" ng-change="runSearch(searchterms,whereyouare)" ng-model-options="{debounce:500}">
                        <input type="text" class="form-control input-lg text-center" placeholder="Where are you?" ng-model="whereyouare"  ng-change="runSearch(searchterms,whereyouare)" ng-model-options="{debounce:500}">
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="runSearch(searchterms,location)">Search</button> -->
                </form>
            </div>
        </div>
        </header>
         <section class="map {{viewIcons[0].class}}" ng-hide="noMap==true">  
            <button class="map-close icon-uni78" ng-click="hideMap();" ng-hide="noMap==true"></button>
            <dg-map id="map" latitude="{{geolocation.lat}}" longitude="{{geolocation.lon}}" change="{{searching}}" >
            </dg-map>
        </section>
        <section class="boxes {{viewIcons[1].class}}">
         <div class="rows" id="places" ng-show="noBusinesses == false"  ng-hide="places==false">
            <h2 ng-hide="noBusinesses==false">There are no businesses that meet your search.</h2> 
            
            <div ng-repeat="item in placesyoulike_results" class="place" ng-hide="places==false || searching==true" number="{{index+1}}" name="{{item.name}}" street-address="{{item.location.address[0]}}" city="{{item.location.city}}" tel="{{item.display_phone}}" stars="{{item.rating_img_url}}">
                <header ng-class="{hidden: item.showIndivMap == true}">
                    <div class="image">
                        <img src="{{item.image_url}}" alt="{{item.name}}"/>
                    </div>
                        <h2><span class="number">{{$index+1}}</span> <a href="{{item.url}}" target="_blank">{{item.name}}</a></h2>
                     <p>{{item.snippet_text}}</p>
                </header>
                <div class="description" ng-class="{hidden: item.showIndivMap == true}">
                    <div class="place-block">
                        {{item.location.address[0]}}
                        <br>{{item.location.city}}
                        <br><a href="tel://{{item.display_phone}}">{{item.display_phone}}</a>
                        <br><img src="{{item.rating_img_url}}" alt="{{item.rating}} stars">
                        <button class="icon-map icon off"  ng-click="showIndivMap($index, 'place');" ></button>
                    </div>
                </div>
                 <div class="indiv-map" ng-hide="item.showIndivMap == false" >
                    <div id="place{{$index}}" class="indiv-map-container"></div>
                </div> 
            </div>
        </div>
        <div class="rows" id="keywords" ng-show="noBusinesses == false"   ng-hide="keywords==false">
             <div ng-repeat="item in keyword_results"  class="place" ng-hide="keywords==false || searching==true" number="{{index+1}}" name="{{item.name}}" street-address="{{item.location.address[0]}}" city="{{item.location.city}}" tel="{{item.display_phone}}" stars="{{item.rating_img_url}}">
                <header ng-class="{hidden: item.showIndivMap == true}">
                    <div class="image">
                        <img src="{{item.image_url}}" alt="{{item.name}}"/>
                    </div>
                        <h2><span class="number">{{$index+1}}</span> <a href="{{item.url}}" target="_blank">{{item.name}}</a></h2>
                    <p>{{item.snippet_text}}</p>
                </header>
                <div class="description" ng-class="{hidden: item.showIndivMap == true}">
                    <div class="place-block">
                       {{item.location.address[0]}}
                        <br>{{item.location.city}}
                        <br><a href="tel://{{item.display_phone}}">{{item.display_phone}}</a>
                        <br><img src="{{item.rating_img_url}}" alt="{{item.rating}} stars">
                        <button class="icon-map icon off"  ng-click="showIndivMap($index, 'keyword');" ></button>
                    </div>
                </div>
                <div class="indiv-map" ng-hide="item.showIndivMap == false">
                    <div id="keyword{{$index}}" class="indiv-map-container"></div>
                </div>
            </div> 
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    
     <footer>
         <p>From <a href="http://cityblinking.com">Big City Blinking</a></p>
         <p><a href="http://twitter.com/robostheimer">@robostheimer</a></p>
         <p>Powered By <a href="https://www.yelp.com/developers" target="_blank">Yelp API</a></p>
    </footer>
        
    </div>
   
</body>
</html>
