<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Doppleganger">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Doppleganger: Find Your Hometown Services Anywhere</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/doppleganger.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

    <script src="js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="js/services/todos.js"></script> <!-- load our todo service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body>
    <div class="container" ng-controller="getYelpResults">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <img src="../images/Logo_sm.png" alt="doppleganger logo"/>
        </div>
        <div class="text-center col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary btn-lg {{keywordsButtonState}}" ng-click="showKeywords()">Find Your Doppleganger</button>
            <button class="btn btn-primary btn-lg {{placesButtonState}}" ng-click="showPlaces()" >I'm Here, Now What?</button>
        </div>
        <div id="keyword-based-form" class="row" ng-hide="places==false">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Place You like" ng-model="placeyoulike" >
                        <input type="text" class="form-control input-lg text-center" placeholder="City of place you like" ng-model="city" >
                        <input type="text" class="form-control input-lg text-center" placeholder="Find the doppleganger in another city" ng-model="destination" ng-change="runBusinessSearch(placeyoulike,city, destination)">
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="runBusinessSearch(placeyoulike,city, destination)">Search</button> -->
                </form>
            </div>
        </div>
        <div class="rows">
            <div ng-repeat="item in placesyoulike_results" class="place" ng-hide="places==false">
                <div class="number">{{$index+1}}</div>
                <div class="place-block">
                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                    <br>{{item.location.address[0]}}
                    <br>{{item.location.city}}
                </div>
            </div>
        </div>
         <div id="keyword-based-form" class="row" ng-hide="keywords==false" >
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="What Are you looking for?" ng-model="searchterms" >
                        <input type="text" class="form-control input-lg text-center" placeholder="Where are you?" ng-model="location"  ng-change="runSearch(searchterms,location)">
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="runSearch(searchterms,location)">Search</button> -->
                </form>
            </div>
        </div>
        <div class="rows">
             <div ng-repeat="item in keyword_results" class="place" ng-hide="keywords==false" >
                <div class="number">{{$index+1}}</div>
                <div class="place-block">
                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                    <br>{{item.location.address[0]}}
                    <br>{{item.location.city}}
                </div>
            </div>
            
        </div>    

        
    </div>
    <footer>
         <p>From <a href="http://cityblinking.com">Big City Blinking</a></p>
         <p><a href="http://twitter.com/robostheimer">@robostheimer</a></p>
         <p>Powered By <a href="https://www.yelp.com/developers" target="_blank">Yelp API</a></p>
    </footer>
</body>
</html>
