html {
          overflow-y:scroll; 
        }
        body {
          padding-top:50px;
        }
        #todo-list { 
          margin-bottom:30px;
        }
        #todo-form {
          margin-bottom:50px; 
        }
        .jumbotron {
          background: none;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .btn,.btn.off { 
          width: 250px; 
          margin: 10px; 
          background-color: 
          white; 
          color: #428bca;
          margin-bottom: 0;
        }
        .btn.on {
            background-color: #428bca; 
            color: white;
        }
        .rows { 
          margin: auto;
          display: block;
          margin-top: 15px;
        }
        .place {
          text-align: left;
          display: inline-block;
          padding-bottom: 0;
          width: 20%;
          box-sizing: border-box;
          margin: auto;
          margin-right: 5px;
          margin-left: 5px;
          margin-bottom: 10px
        }
        .place .place-block {
          margin: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
          display: block;
          display: inline;
        }
        .col-sm-8{
          float: none;
        }
        .form-control {
            width: 96%;
        }
        input {
          margin: 10px; 
        }
        .number {
            font-size: 3rem;
            display: inline;
            color: #428bca;
        }
        footer {
            
            width: 75%;
            margin-left: 12.5%
        }
        footer p {
          text-align: center;
          margin: 10px;
          margin-bottom: 3px;
          margin-top: 3px;  

        }
        footer p:nth-of-type(1) {
          border-top: 1px solid #428bca;
          padding-top: 10px
        }

        @media screen and   (min-width:1601px)   {
            .rows {
                width: 1600px;
            }
            .place { 
              width: 320px;
             }
             .input-lg {
                width: 75%;
                margin-left: 12.5%;
             }
        }

        @media screen and  (max-width: 1280px) and (min-width:1025px) {
            .rows {
                width: 1024px;
            }
            .place {
                width: 204px;
            }
            .btn, .btn.on, .btn.off {
              width: 40%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.75rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
        }

        @media screen and  (max-width: 1024px) and (min-width:768px) {
             .rows {
                width: 768px;
             }
             .place {
                width: 192px;
            }
             .btn, .btn.on, .btn.off {
              width: 48.5%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.75rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
        }

        @media screen and  (max-width: 767px) and (min-width:640px) {
             .rows {
                width: 640px;
             }
             .place {
                width: 213px
            }  
             .btn, .btn.on, .btn.off {
              width: 48.5%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 2rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
            .jumbotron img {
              width: 200px;
              height: 91px;
            }
        }

        @media screen and  (max-width: 639px ) and (min-width: 480px) {
             .rows {
                width: 480px;
             }
             .place {
                width: 230px;
            }
            .btn, .btn.on, .btn.off {
              width: 48.5%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.5rem ;
              padding: 10px;
              margin: 1%;
              margin-right: 0;              
            }
            .jumbotron img {
              width: 150px;
              height: 68px;
            }


        }

        @media screen and  (max-width: 479px )  {
             .rows {
                width: 240px;
             }
             .place {
                width: 220px;
            }
            .input-lg {
                font-size: 1.5rem;
                height: 40px;
            }
            .btn, .btn.on, .btn.off {
              width: 48%;
              box-sizing: border-box;
              display: inline-block;
              font-size: 1.15rem;
              padding: 10px;
              margin: 1%;
              margin-right: 0;
            }
            .jumbotron img {
              width: 100px;
              height: 45px;
            }

        
        }