html {
  overflow-y:scroll; 
  overflow-x: hidden;
}
body {
  padding-top:0px;
  overflow-y: hidden;
}

.container {
  min-height: 200px;
}

#todo-list { 
  margin-bottom:30px;
}
#todo-form {
  margin-bottom:50px; 
}
.jumbotron {
  background: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn,.btn.off { 
  width: 250px; 
  margin: 10px; 
  background-color: 
  white; 
  color: #428bca;
  margin-bottom: 0;
}
.btn.on {
    background-color: #428bca; 
    color: white;
}
.rows { 
  margin: auto;
  display: block;
  margin-top: 15px;
  overflow-y: scroll;
}
.place {
  text-align: left;
  display: inline-block;
  padding-bottom: 0;
  width: 20%;
  box-sizing: border-box;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px
}
.place .place-block {
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  display: inline;
}
.col-sm-8{
  float: none;
  display: block;
}
.form-control {
    width: 96%;
}
input {
  margin: 10px; 
}
.number {
    font-size: 3rem;
    display: inline;
    color: #428bca;
}
footer {
    
    width: 100%;
    margin: auto;
    background: white;
    padding-right: 12.5%;
    padding-left: 12.5%;
    padding-bottom: 10px;
}
footer p {
  text-align: center;
  margin: 10px;
  margin-bottom: 3px;
  margin-top: 3px;  

}
footer p:nth-of-type(1) {
  border-top: 1px solid #428bca;
  padding-top: 10px
}

@media screen and   (min-width:1601px)   {
    .rows {
        width: 1600px;
    }
    .place { 
      width: 300px;
     }
     .input-lg {
        width: 75%;
        margin-left: 12.5%;
     }
}

@media screen and  (max-width: 1280px) and (min-width:1025px) {
    .rows {
        width: 1024px;
    }
    .place {
        width: 190px;
    }
    .btn, .btn.on, .btn.off {
      width: 40%;
      box-sizing: border-box;
      display: inline-block;
      font-size: 1.75rem;
      padding: 10px;
      margin: 1%;
      margin-right: 0;
    }
}

@media screen and  (max-width: 1024px) and (min-width:768px) {
     .rows {
        width: 768px;
     }
     .place {
        width: 175px;
    }
     .btn, .btn.on, .btn.off {
      width: 48.5%;
      box-sizing: border-box;
      display: inline-block;
      font-size: 1.75rem;
      padding: 10px;
      margin: 1%;
      margin-right: 0;
    }
}

@media screen and  (max-width: 767px) and (min-width:640px) {
     .rows {
        width: 640px;
     }
     .place {
        width: 200px
    }  
     .btn, .btn.on, .btn.off {
      width: 48.5%;
      box-sizing: border-box;
      display: inline-block;
      font-size: 2rem;
      padding: 10px;
      margin: 1%;
      margin-right: 0;
    }
    .jumbotron img {
      width: 200px;
      height: 91px;
    }
}

@media screen and  (max-width: 639px ) and (min-width: 480px) {
     .rows {
        width: 480px;
     }
     .place {
        width: 210px;
    }
    .btn, .btn.on, .btn.off {
      width: 48.5%;
      box-sizing: border-box;
      display: inline-block;
      font-size: 1.5rem ;
      padding: 10px;
      margin: 1%;
      margin-right: 0;              
    }
    .jumbotron img {
      width: 150px;
      height: 68px;
    }


}

@media screen and  (max-width: 479px )  {
     .rows {
        width: 240px;
     }
     .place {
        width: 205px;
    }
    .input-lg {
        font-size: 1.5rem;
        height: 40px;
    }
    .btn, .btn.on, .btn.off {
      width: 48%;
      box-sizing: border-box;
      display: inline-block;
      font-size: 1rem;
      padding: 10px;
      margin: 1%;
      margin-right: 0;
    }
    .jumbotron img {
      width: 100px;
      height: 45px;
    }


}

/*Prealoader*/


.cssload-container{
  display: block;
}
  
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(204,204,204);
  border-left-color: rgb(0,0,0);
  border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}


/*Scrollbars*/

::-webkit-scrollbar {
        width: 7px;
      padding:0px;
  } /* this targets the default scrollbar (compulsory) */
  
  
  ::-webkit-scrollbar:horizontal {
  display:none;
  } /* this targets the default scrollbar (compulsory) */
  ::-webkit-scrollbar:vertical {
  opacity:1;
  }
  
  ::-webkit-scrollbar-track, iframe ::-webkit-scrollbar-track {
        background-color: transparent;
        display:none;
  } /* the new scrollbar will have a flat appearance with the set background color */
  ::-webkit-scrollbar-thumb, iframe ::-webkit-scrollbar-thumb {
        background-color:rgba(220, 220, 220, .5);
        margin-right:0px;
     
  } /* this will style the thumb, ignoring the track */
  ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(220, 220, 220, .7);
     
  }
