/*
font-family: 'Raleway', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'PT-Sans Narrow' ,sans-serif;
*/

html {
  overflow-y:scroll; 
  overflow-x: hidden;
  font-size: 62.5%;
}
body {
  padding-top:0px;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'PT-Sans Narrow', sans-serif;
  font-size: 14px;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #b1b1b1;
}

#map {
  width: 90%;
  height: 90%;
  border: 1px solid #999;
  position: fixed;
  left: 5%;
  top: 5%;
}
.container {
  min-height: 200px;
}

#todo-list { 
  margin-bottom:30px;
}
#todo-form {
  margin-bottom:50px; 
}
.jumbotron {
  background: none;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.tabs{
  width: 100%;
}
.btn {
  border: none;
  font-size: 2rem;
  padding: 13px;
  border: 1px solid #b1b1b1;
}
.btn,.btn.off { 
  width: 50%; 
  background-color: 
  white; 
  color: #428bca;
  margin-bottom: 0;
  text-align: center
}
.btn.on {
    background-color: #428bca; 
    color: white;
}
.form-control {
  width: 31%;
  box-sizing: border-box;
  margin-right: 1%; 
  margin-left: 1%;
  margin-top: 15px;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 3px;
  border-radius: 5px;
}
.form-control:nth-of-type(1){
  margin-left: 0;
}
.rows { 
  margin: auto;
  display: table;
  margin-top: 15px;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
}
.place, .indiv-map {
  text-align: left;
  padding-bottom: 0;
  width: 18%;
  box-sizing: border-box;
  margin: auto;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 10px;
  border: 1px solid #c5c5c5;
  padding: 7px;
  padding-top: 0;
  display: inline-grid;
  vertical-align: top;
}

.place .image {
  display: table-cell;
    vertical-align: top
}
.place .image img {
  width: 75px
  height: 75px;
  margin-right: 10px;
  margin-top: 7px;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
}
.place header {
  width: 100%;
  display:table;
}

.place .description {
  display: table-cell;
  vertical-align: top
}
.place h2 {
  font-size: 1.75rem;
  display: inline;
  margin-left: 10px;
  border-bottom: 1px solid #428bca;
}

.place .place-block {
  margin-bottom: 5px;
  display: block;
  display: inline;
}
.col-sm-8{
  float: none;
  display: block;
}

.number {
  font-size: 3rem;
  display: inline;
  color: #428bca;
  margin-left: 5px;
}
footer {
    
    margin: auto;
    background: white;
    padding-bottom: 10px;
    position: fixed; 
    bottom: 0;
    width: 100%
}
footer p {
  text-align: center;
  margin: 10px;
  margin-bottom: 3px;
  margin-top: 3px;  

}
footer p:nth-of-type(1) {
  border-top: 1px solid #428bca;
  padding-top: 10px
}

.toggler {
  width: 200px;
}
.icon {
  display: inline-block; 
  background:none; 
  border: none; 
  font-size: 1.5rem; 
  padding: 8px; 
  border-radius: 3px;
}

.big-icon {
  display: inline-block; 
  background:none; 
  border: none;
  font-size: 1.5rem; 
  padding: 8px; 
  border-radius: 3px;
  color: #428bca;
 }

.icon.on {
  color: white; 
  background: #428bca; 
}

.icon.off{
  color: #428bca;
}

.map-close {
  position: fixed;
  top: 7%;
  right: 7%;
  z-index: 1;
  font-size: 1.5rem;
  color: #999;
  background: none;
  border: none;
}

.logo {
  font-size: 6rem;
  padding: 15px;
  margin: auto;
  width: 100px
}



@media screen and  (max-width: 1280px) and (min-width:1025px) {
  
    .place {
        width: 23%;
    }
    .btn, .btn.on, .btn.off {
      font-size: 1.75rem;
     }
}

@media screen and  (max-width: 1024px) and (min-width:768px) {
    
     .place {
        width: 31%;
    }
     .btn, .btn.on, .btn.off {
      font-size: 1.75rem;
    }
    .image img {
      width: 50px;
      height: 50px
    }
}

@media screen and  (max-width: 767px) and (min-width:640px) {
    
     .place {
       width: 31%
    }  
     .btn, .btn.on, .btn.off {
      
      font-size: 2rem;
    }
    .logo {
      font-size: 5rem;
      width: 110px
    }
     .image img {
      width: 30px;
      height: 30px
    }
}

@media screen and  (max-width: 639px ) and (min-width: 480px) {
     .place {
        width: 48%
    }
    .btn, .btn.on, .btn.off {
      font-size: 1.5rem ;
    }
    .logo {
      font-size: 4.5rem;
      width:135px;
    }
    .image img {
      display: none
    }
}

@media screen and  (max-width: 479px )  {
   .place {
      width: 99%;
      margin: auto;
      margin-bottom: 15px;
  }

  .form-control {
    width: 30%;
  }
  .btn, .btn.on, .btn.off {
    font-size: 1.4rem;
  }
  .logo {
    font-size: 4rem;
    width: 90px;
  }
  .image img {
    display: none
  }
}

/*Prealoader*/


.cssload-container{
  display: block;
}
  
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(204,204,204);
  border-left-color: rgb(0,0,0);
  border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}


/*Scrollbars*/

::-webkit-scrollbar {
        width: 7px;
      padding:0px;
  } /* this targets the default scrollbar (compulsory) */
  
  
  ::-webkit-scrollbar:horizontal {
  display:none;
  } /* this targets the default scrollbar (compulsory) */
  ::-webkit-scrollbar:vertical {
  opacity:1;
  }
  
  ::-webkit-scrollbar-track, iframe ::-webkit-scrollbar-track {
        background-color: transparent;
        display:none;
  } /* the new scrollbar will have a flat appearance with the set background color */
  ::-webkit-scrollbar-thumb, iframe ::-webkit-scrollbar-thumb {
        background-color:rgba(220, 220, 220, .5);
        margin-right:0px;
     
  } /* this will style the thumb, ignoring the track */
  ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(220, 220, 220, .7);
     
  }
